<div class="reno">
  <h1>希望リノベーションプラン</h1>
  <h2>～ライフスタイルに合わせたリノベーション～</h2>
  <h3>『自分で選ぶとは？』</h3>
  <h3>お部屋の専有面積は決められています</h3>
  <p><%= image_tag("madori1ldk.jpg") %><span class="pic"><%= image_tag("madori3dk.jpg") %></p>
  <p>あなたなら、部屋数を多くとって3LDKや、4DKにしますか？</p>
  <p>それとも、LDKを思いっきり広くして2LDKや、1LDKにしてみますか？</p>
  <h3>予算もある程度決められていると思います</h3>
  <p>あなたなら、どこにお金を掛けますか？</p>
  <p><%= image_tag("setubi_kitin2.jpg") %><span class="pic"><%= image_tag("unit_bas2.jpg") %></span></p>
  <p>最新機能のついたキッチン？ OR 広いお風呂？</p>
  <p>それとも、みんなで過ごすLDKに床暖房なんて選択もありますね</p>
  <h3>メーカーはどこ？</h3>
  <p>例えばキッチンなら</p>
  <p><%= image_tag("pana.jpg") %><span class="pic"><%= image_tag("tokuras.jpg") %></span></p>
  <p>機能重視派なら最新設備を取り入れている<span style="color: black; font-weight: bold;">『パナソニック』？</span></p>
  <p>見た目重視派なら塗装技術のすばらしい元ヤマハ、現在の<span style="color: black; font-weight: bold;">『トクラス』？</span></p>
  <h3>こんな感じで全て自分のライフスタイルに合わせて選ぶ事が出来ます<br>
      もちろん専属のコーディネーターがしっかりサポートしますのでご安心ください</h3>
</div>      
